body {
  font-family: sans-serif;
  background-color: #DEF4C6;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: .65em;
  color: #f5fbed;
}

nav {
  background-color: #1B512D;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* login Page */

/* Home Page post login */

.avatar {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.characterCard {
  background-color: #f5fbed !important;
}

.generalContainer {
  min-height: 100vh;
  padding: 1.5rem;
}
